---
layout: default
---

<div class="home">

  <h1 class="page-heading">Noticias</h1>

  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      {% if post.show %}
        <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

          <h2>
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </h2>

          {{ post.excerpt }}
        </li>
      {% endif %}
    {% endfor %}
  </ul>


<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeyWWXkmswz2HpPSf7lSr0K51yg5sYgNwd2t13O2LlWz8CzRg/viewform?embedded=true" width="350" height="950" frameborder="0" marginheight="0" marginwidth="0">Cargando...</iframe>
</div>
