---
layout: default
---

<div class="home">

  <h1 class="page-heading">Noticias</h1>

  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      {% if post.show %}
        <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

          <h2>
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </h2>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
  
  <div class="contact-form">
<form method="POST"
      action="https://www.formingo.co/submit/rodrigogv.1014@gmail.com">

<p style='font-size: 20px; text-align: center'>¡No dudes en comnunicarte con nosotros enviando un mensajes con tus dudas y sugerencias!</p>

Nombre completo:<br>
    <input type="text" name="Nombre completo"><br>
Email: <br>
    <input type="email" name="__replyto"><br>
Mensaje: <br>
    <input type="text" name="Mensaje" size="70"><br>

    <input type="hidden" name="__redirect" value="/about/">

    <input type="submit" value="Enviar">
</form>
</div>
  
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
